.title{
    -fx-font-size: 28px;
    -fx-font-weight: 800;
}

.tab-label{
    -fx-font-size: 18px;
    -fx-cursor: hand;
    -fx-padding: 10 0 10 0;
}

.selected-tab{
    -fx-font-weight: bold;
    -fx-text-fill: #2f80ed;
    -fx-border-color: #2f80ed;
    -fx-border-width: 0 0 2 0;
}

.todo-text{
    -fx-padding: 0 0 0 10px;
    -fx-border-insets: 0 0 0 10px;
    -fx-background-insets: 0 0 0 10px;
    -fx-text-fill: black;
    -fx-strikethrough: false;
}

.text-checked{
    -fx-fill: #6d6d6d;
    -fx-strikethrough: true;
}


/* ========= list =========== */

.list {
    -fx-background-color: null;
    -fx-border-color: null;
    -fx-border-width: 0;
    -fx-padding: 10px 0 0 0;
}

.list .cell {
    -fx-font-size: 16px;
    -fx-padding: 5px 10px;
    -fx-background-color: null;
    -fx-text-fill: black;
}

.list .cell:filled:selected:focused,
.list .cell:filled:selected{
    -fx-text-fill: black;
}